<% @latest_data.each do |summary| %>
    <div>
        <% unless summary.nil? %>
            <div>
                場所：<%= summary.location %>
            </div>
            <div>
                最終更新日時：<%= summary.created_at %>
            </div>
            <div>
                <%= column_chart eval(summary.summary_data) %>
            </div>
        <% end %>
    </div>
<% end %>