<div>
    <table>
        <tr>
            <th>ID</th>
            <th>レストラン</th>
            <th>星</th>
            <th>場所</th>
        <% @restaurants.each do |restaurant| %>
            </tr>
                <td><%= restaurant.id %></td>
                <td><%= link_to restaurant.name, restaurant.link %></td>
                <td><%= restaurant.star %></td>
                <td><%= restaurant.location %></td>
            <tr>
        <% end %>
    </table>
</div>